body {
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

h1 {
    color: #1f3c88;
}

.box {
    background-color: rgba(255, 255, 255, 0.616);
    border: 2px solid #de7373;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}