body {
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
   
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOIBQxwlVL8bhmtpovYL2BgJ1i3SdvQPLnMA&s');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed; 
}



.container {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

h1 {
    color: #1f3c88;
}

.box {
    
    background-color: white;
    padding: 20px;
    margin: 20px 0;
}